/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  *:not(dialog) {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Increase line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



body{
  font-family: "Datatype", monospace;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
  border: solid black 3px;
  box-shadow: 3px 3px 0px grey;
}

.search-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#option{
  display: flex;
  justify-content: end;
  margin: 4rem 2rem 1rem 0;
  gap: 1rem;
}

.btn-geoloc{
  display: flex;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.card{
  border: solid black, 1px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 3px;
  box-shadow: 3px 3px 0px grey;
}

.card > p {
  text-align: center;
}

.card.today{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 0 10rem 0 10rem;
  padding: 0.5rem;
  border: solid rgb(24, 34, 52) 3px;
  box-shadow: 3px 3px 0px rgb(157, 166, 193);
}

.card.today > :first-child{
  grid-column: 2 / 3;
  grid-row: 1 /4;
  font-size: 1.3rem;
}
.card.today > :nth-child(2){
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: center;
  font-size: 2rem;
}

.card.today > :nth-child(3){
  grid-column: 1/ 2;
  grid-row: 3 / 4;
  justify-self: center;
  width: 4rem;
}
.card.today > :nth-child(4){
  font-size: 1.3rem;
}

.card.today > :nth-child(6){
  place-self: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: center;
}
.card.today > :nth-child(7){
  place-self: center;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  text-align: center;
}
.temp-min-max{
  text-align: center;
}

#city{
  text-align: center;
  grid-column: 1 / 8;
  text-transform: capitalize;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-shadow: 1px 1px 0 rgb(118, 77, 0);
}

.container{
  margin: 0 3rem 0 3rem ;
}
.container > :nth-child(2){
  grid-column: 1 / 8;
}

.fetch-error{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: red;
}

.shown{
  display: block
}

.hidden{
  display: none;
}
#option.hidden {
  display: none;
}

.icon{
  width: 30px;
}

.gif{
  width: 10rem;
  border-radius: 10%;
  margin: 1rem;
  justify-self: center;
  border: solid black 3px;

}

.loading .material-symbols-outlined {
  margin-top: 3rem;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  font-size: 10rem;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
