/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  *:not(dialog) {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Increase line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



body{
  font-family: "Datatype", monospace;
  background-color: rgb(25, 25, 25);
  color: beige;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
  border: solid rgb(203, 203, 203) 3px;
  box-shadow: 0 0 30px rgb(137, 137, 137);

}

.search-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.btn-geoloc{
  display: flex;
  justify-content: center;
}


.container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(7 , 1fr);
}

.card{
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: beige;
  color: rgb(0, 0, 0);
}

.card > * {
  text-align: center;
}



.card.today{
  grid-column: 1 / 8;
  margin: 0 10rem 0 10rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
}

.card.today > .date{ 
  font-size: 2rem;
 }
 
.card.today > .conditions,.card.today >  .temp{ 
  font-size: 1.7rem;
 }


.card.week-day{
 display: flex;
 flex-direction: column;
 justify-content:stretch;
}
.card.week-day > img{ 
  min-height: 70px;
}
.card.week-day > .temp{ 
  margin-top: auto;
}


.weather-address{
  text-align: center;
  text-transform: capitalize;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-shadow: 1px 1px 0 rgb(118, 77, 0);
  grid-column: 1 / 8;
}

.container{
  margin: 0 3rem 0 3rem ;
}

.error-message{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: red;
}

.shown{
  display: block
}

.hidden{
  display: none;
}


.icon{
  width: 30px;
  justify-self: center;
}
.card.today > .icon{
  width: 80px;
  justify-self: center;
}

.gif{
  width: 10rem;
  border-radius: 10%;
  margin: 1rem;
  justify-self: center;
  border: solid black 3px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.card.today > .temp{
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.loading .material-symbols-outlined {
  margin-top: 3rem;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  font-size: 10rem;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
